#profile-header {
  display: flex;
  height: 560px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #001fe6;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

@media only screen and (min-width: 768px) {
  #profile-header {
  grid-area: header; /* assign header to its grid area */
    width: 100%;
    max-width: 100%;
    margin-left: 2em;
    margin-top: 10em;
  }
}