#nav-logo {
  font-family: bungee, sans-serif;
 }

 .navbar {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
 }

 .new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .double-arrows {
  color:#800020;
 }

