.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

#tweet-heading {
  color:#001fe6;
}


form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 10px solid #001fe6;
  padding-bottom: 10px;
  align-items: left;
  margin-bottom: 20px;
}

.top-tweet label {
  margin-bottom: 20px;
}

.bottom-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 20px;
  align-items: center;
}

#tweet-text {
  display: flex;
  border: hidden;
  padding-bottom: 5px;
  flex-direction: row;
}

#tweet-button {
  background-color: royalblue;
  font-family: bungee, sans-serif;
  padding: 10px;
  color: #FFFFFF;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  color: blue;
}

.red {
  color: red;
}