.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.top-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 5px solid #001fe6;
  padding-bottom: 5px;
  align-items: left;
  margin-bottom: 20px;
  position: relative;
}

.top-tweet label {
  margin-bottom: 20px;
}

.bottom-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 20px;
  align-items: center;
}

#humming {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
}

#tweet-text {
  display: flex;
  border: hidden;
  padding-bottom: 5px;
  flex-direction: row;
  background-color: #0099d1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  z-index: 1;
}

textarea#tweet-text {
  color: white;
  font-size: 30px;
  height: 100%;
  font-weight: bold;
}

#tweet-button {
  background-color: royalblue;
  font-family: bungee, sans-serif;
  padding: 10px;
  color: #FFFFFF;
}

#tweet-button:hover {
  filter: brightness(130%);
}

#tweet-button:active {
  transform: scale(0.95);
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  color: white;
  font-family: bungee, sans-serif;
  text-shadow: #001fe6 4px 4px 2px;
}

.red {
  color: red;
}

#error-message {
  color:red;
  font-size: 20;
  border: solid red;
  padding: 10px;
  margin: 10px;
  width: 60%;
}