.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 40%;
}

#tweet-heading {
  color:#001fe6;
}


form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 10px solid #001fe6;
  padding-bottom: 5px;
  align-items: center;
}

.bottom-tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 20px;
  align-items: center;
}

#tweet-text {
  display: flex;
  border: hidden;
  border-bottom: solid black;
  padding-bottom: 5px;
  flex-direction: row;
  width: 50%;

}

#tweet-button {
  background-color: royalblue;
  font-family: bungee, sans-serif;
  padding: 10px;
  color: #FFFFFF;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}